<p id="notice"><%= notice %></p>

<h1>Installations</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Czujnik</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @installations.each do |installation| %>
      <tr>
        <td><%= installation.name %></td>
        <td><%= installation.sensor_id %></td>
        <td><%= link_to 'Pokaż', installation %></td>
        <td><%= link_to 'Edytuj', edit_installation_path(installation) %></td>
        <td><%= link_to 'Usuń', installation, method: :delete, data: { confirm: 'Czy jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowa instalacja', new_installation_path %>

<h1>E-mail</h1>
<p>Podaj dane adresu email z którego będą wysyłane powiadomienia</p>


<%= form_tag action: 'smtp_options' do |form| %>
  <%= text_field_tag :smtp_login, Setting.smtp_login %><br>
  <%= password_field_tag :smtp_password, Setting.smtp_password %><br>
  <%= text_field_tag :smtp_host, Setting.smtp_host %><br>
  <%= submit_tag "Zatwierdź" %>
<% end %>

<h1>Apikey</h1>
<p>Podaj klucz Airly</p>

<%= form_tag action: 'api_key' do |form| %>
  <%= text_field_tag :api_key, Setting.api_key %>
  <%= submit_tag "Zatwierdź" %>
<% end %>