<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @installation.name %>
</p>

<p>
  <strong>Czujnik:</strong>
  <%= @installation.sensor_id %>
</p>

<%= link_to 'Edytuj', edit_installation_path(@installation) %> |
<%= link_to 'Cofnij', installations_path %>
