<!-- MOBILE LAYOUT -->
<section class="container-fluid mobile-land d-block d-md-none">
  <div class="row">
    <div class="col-12 text-center mobile-title">
      <span style="color: #f75b5b; font-weight: bolder;">S</span>ystem <span style="color: #f75b5b; font-weight: bolder;">O</span>strzegania <span style="color: #f75b5b; font-weight: bolder;">AIR</span>mageddon
      <div class="features-mobile">
        <div class="box">
          <div class="icon">
            <i class="material-icons" style="font-size: 1.7rem; color: #f75b5b;">search</i>
          </div>
          <div class="text">
            Monitoring jakości powietrza
          </div>
          <div class="icon">
            <i class="material-icons" style="font-size: 1.7rem; color: #f75b5b;">timeline</i>
          </div>
          <div class="text">
            Analiza statystyczna
          </div>
          <div class="icon">
            <i class="material-icons" style="font-size: 1.7rem; color: #f75b5b;">track_changes</i>
          </div>
          <div class="text">
            System powiadomień
          </div>
        </div>
      </div>         
    </div>
  </div>
</section>
<section class="container-fluid d-block d-md-none" style="padding-top: 10vh;">
  <div class="row justify-content-center">
    <div class="col-12 text-center d-block d-md-none">
      <h4>Pomiary na żywo</h4>
      <!-- <h6>Ostatnia aktualizacja: <measurement_last %></h6> -->
      <table class="table table-striped table-light shadow-lg">
        <thead>
          <tr>
            <th scope="col">Lokalizacja</th>
            <th scope="col">Interpretacja</th>
          </tr>
        </thead>
        <tbody>
          <% @live.each do |m| %>
            <tr>
              <th scope="row"><%= m.installation.name %></th>
              <%= getColor(m.pm10, m.pm25) %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="container-fluid average-chart d-block d-md-none">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row justify-content-center d-block d-md-none">
        <div class="col-12 text-center">
          <h4>Pył zawieszony PM10 i PM2.5 w ostatnich 24h</h4>
          <canvas id="area2" style="width: 100%; height: 50vh;"></canvas>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid average d-block d-md-none">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h4>Średnia z ostatniej doby</h4>
      <br>
      <div class="row justify-content-center d-block d-md-none">
        <div class="col-12">
          <table class="table table-striped table-light shadow-lg">
            <tr>
              <th scope="row">PM10</th>
              <td>107% normy WHO (54 µg/m3)</td>
            </tr>
            <tr>
              <th scope="row">PM2.5</th>
              <td>146% normy WHO (36 µg/m3)</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END OF MOBILE LAYOUT -->
<!-- =========================== -->



<!-- TABLETS -->
<section class="container-fluid main-image-md d-none d-md-block d-lg-none">
  <div class="row">
    <div class="col-12 text-center title">
      <span style="color: #f75b5b; font-weight: bolder;">S</span>ystem <span style="color: #f75b5b; font-weight: bolder;">O</span>strzegania - <span style="color: #f75b5b; font-weight: bolder;">AIR</span>mageddon
      <br>
      <div class="features-medium">
        <div class="box">
          <div class="icon">
            <i class="material-icons" style="font-size: 3rem; color: #f75b5b;">search</i>
          </div>
          <div class="text">
            Monitoring jakości powietrza
          </div>
          <div class="icon">
            <i class="material-icons" style="font-size: 3rem; color: #f75b5b;">timeline</i>
          </div>
          <div class="text">
            Analiza statystyczna
          </div>
          <div class="icon">
            <i class="material-icons" style="font-size: 3rem; color: #f75b5b;">track_changes</i>
          </div>
          <div class="text">
            System powiadomień
          </div>
        </div>
      </div>
    </div>    
  </div>
</section>
<section class="container-fluid tab d-none d-md-block d-lg-none">
  <div class="row justify-content-center">
    <div class="col-9">
      <h4>Pomiary na żywo</h4>
      <table class="table table-striped table-light shadow-lg">
        <thead>
          <tr>
            <th scope="col">Lokalizacja</th>
            <th scope="col">PM10</th>
            <th scope="col">PM2.5</th>
            <th scope="col">Godzina pomiaru</th>
            <th scope="col">Interpretacja</th>
          </tr>
        </thead>
        <tbody>
          <% @live.each do |m| %>
            <tr>
              <th scope="row"><%= m.installation.name %></th>
              <td><%= (m.pm10*100)/50 %>%</td>
              <td><%= (m.pm25*100)/25 %>%</td>
              <td><%= m.measured_at.in_time_zone("Warsaw").strftime("%H:%M") %></td>
              <%= getColor(m.pm10, m.pm25) %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="container-fluid average-chart-md d-none d-md-block d-lg-none">
  <div class="row justify-content-center">
    <div class="col-9">
      <h4>Pył zawieszony PM10 i PM2.5 w ostatnich 24h</h4>
      <canvas id="area3" style="width: 100%; height: 40vh;"></canvas>
    </div>
  </div>
</section>
<section class="container-fluid average-md d-none d-md-block d-lg-none">
  <div class="row justify-content-center">
    <div class="col-9">
      <h4>Średnie z ostatniej doby</h4>
      <div class="row justify-content-center d-md-block d-lg-none">
        <div class="col-8">
          <table class="table table-striped table-light shadow-lg">
            <tr>
              <th scope="row">PM10</th>
              <td>107% normy WHO (54 µg/m3)</td>
            </tr>
            <tr>
              <th scope="row">PM2.5</th>
              <td>146% normy WHO (36 µg/m3)</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid average-chart-2-md d-none d-md-block d-lg-none">
  <div class="row justify-content-center">
    <div class="col-9">
      <h4>Pył zawieszony PM10 - średnie godzinowe w ostatnich 24h</h4>
      <!-- <canvas id="area2"></canvas> -->
    </div>
  </div>
</section>
<!-- END OF TABLETS -->



<!-- =========================== -->
<!-- DESKTOPS -->
<section class="container-fluid main-image d-none d-lg-block">
  <div class="row">
    <div class="col-12 text-center title">
      <span style="color: #f75b5b; font-weight: bolder;">S</span>ystem <span style="color: #f75b5b; font-weight: bolder;">O</span>strzegania - <span style="color: #f75b5b; font-weight: bolder;">AIR</span>mageddon
      <br>
      <div class="features">
        <div class="box">
          <div class="icon">
            <i class="material-icons" style="font-size: 2.7rem; color: #f75b5b;">search</i>
          </div>
          <div class="text">
            Monitoring jakości powietrza
          </div>
          <div class="icon">
            <i class="material-icons" style="font-size: 2.7rem; color: #f75b5b;">timeline</i>
          </div>
          <div class="text">
            Analiza statystyczna
          </div>
          <div class="icon">
            <i class="material-icons" style="font-size: 2.7rem; color: #f75b5b;">track_changes</i>
          </div>
          <div class="text">
            System powiadomień
          </div>
        </div>
      </div>
    </div>    
  </div>
</section>
<section class="container-fluid average-chart d-none d-lg-block">
  <div class="row justify-content-center">
    <div class="col-9">
      <h4>Pył zawieszony PM10 i PM2.5 w ostatnich 24h</h4>
      <canvas id="area1"></canvas>
    </div>
  </div>
</section>
<section class="container-fluid average d-none d-lg-block">
  <div class="row justify-content-center">
    <div class="col-9">
      <h4>Średnie z ostatniej doby</h4>
      <br>
      <div class="row justify-content-center d-none d-lg-block">
        <div class="col-5">
          <table class="table table-striped table-light shadow-lg">
            <tr>
              <th scope="row">PM10</th>
              <td>107% normy WHO (54 µg/m3)</td>
            </tr>
            <tr>
              <th scope="row">PM2.5</th>
              <td>146% normy WHO (36 µg/m3)</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid tab d-none d-lg-block">
  <div class="row justify-content-center">
    <div class="col-9">
      <h4>Pomiary na żywo</h4>
      <br>
      <table class="table table-striped table-light shadow-lg">
        <thead>
          <tr>
            <th scope="col">Lokalizacja</th>
            <th scope="col">PM10</th>
            <th scope="col">PM2.5</th>
            <th scope="col">Godzina pomiaru</th>
            <th scope="col">Interpretacja</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @live.each do |m| %>
            <tr>
              <th scope="row"><%= m.installation.name %></th>
              <td><%= (m.pm10*100)/50 %>%</td>
              <td><%= (m.pm25*100)/25 %>%</td>
              <td><%= m.measured_at.in_time_zone("Warsaw").strftime("%H:%M") %></td>
              <%= getColor(m.pm10, m.pm25) %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
<section class="container-fluid average-chart-2 d-none d-lg-block">
  <div class="row justify-content-center">
    <div class="col-9">
      <h4>Pył zawieszony PM10 - średnie godzinowe w ostatnich 24h</h4>
      <!-- <canvas id="area2"></canvas> -->
    </div>
  </div>
</section>
<!-- DESKTOPS -->
 
<script>
  area('area1', 
    <%= @area10.keys.map{ |v| v } %>,
    <%= @area10.values.map { |v| v.round } %>,
    <%= @area25.values.map { |v| v.round } %>
    );
  area('area2', 
    <%= @area10.keys.map{ |v| v } %>,
    <%= @area10.values.map { |v| v.round } %>,
    <%= @area25.values.map { |v| v.round } %>
    );
  area('area3', 
    <%= @area10.keys.map{ |v| v } %>,
    <%= @area10.values.map { |v| v.round } %>,
    <%= @area25.values.map { |v| v.round } %>
    );
</script>