<h2>Edytuj <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <div class="field">
    <%= f.label :login %><br />
    <%= f.text_field :login, autofocus: true %>
  </div>
  
   <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Obecnie czeka potwierdzenie: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(pozostaw puste, jeśli nie chcesz tego zmieniać)</i><br />
    <%= f.password_field :password, autocomplete: "Nowe hasło" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> minimalna ilość znaków</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "Nowe hasło" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(Potrzebujemy Twojego obecnego hasła, aby potwierdzić twoje zmiany)</i><br />
    <%= f.password_field :current_password, autocomplete: "Obecne hasło" %>
  </div>

  <div class="actions">
    <%= f.submit "Akceptuj" %>
  </div>
<% end %>

<h3>Anuluj moje konto</h3>

<p>Nieszczęsliwy? <%= button_to "Anuluj moje konto", registration_path(resource_name), data: { confirm: "Jesteś pewny?" }, method: :delete %></p>

<%= link_to "Wróć", :back %>
