<h1>Wybrane lokalizacje</h1>

<%= form_for @user, url: {action: "update"} do |f| %>
	<%= hidden_field_tag "user[installation_ids][]", nil%>
    <% @installations.each do |i| %>
        <%= check_box_tag 'user[installation_ids][]', i.id, @user.installations.include?(i) %>
        <%= i.name %>
        <br>
    <% end %>
    <%= f.check_box :isactive %>
		<%= f.select :critical, options_for_select([['Bardzo źle', 1],['Źle', 2],['Dostatecznie',3],['Umiarkowanie',4],['Dobrze',5],['Bardzo dobrze',6]], @user.critical) %>

    <%= f.submit "Zmień", class: 'btn btn-primary' %>
<% end %>