<!DOCTYPE html>
<html>
  <head>
    <title>AIRmagedon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <!-- MOBILE LAYOUT -->
    <div class="d-block d-md-none">
      <nav class="navbar fixed-top scrolling-navbar navbar-default-mobile">
        <%= link_to index_path do %>
          <div class="navbar-brand color">
            <i class="material-icons">home</i>
          </div>
        <% end %>
        <ul class="navbar-nav">
          <li class="nav-item menu-icon">
            <div class="hamburger"></div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="meniu d-block d-md-none">
      <% if user_signed_in? %>
        Zalogowany jako <strong><%= current_user.login %></strong><br>
        <%= link_to "Edycja profile", edit_user_registration_path, class: 'nav-link color' %>
        <% if current_user.is_admin %>
          <%= link_to "Ustawienia", installations_path, class: 'nav-link color' %>
        <% end %>
        <%= link_to "System ostrzegania", subscriptions_path, class: 'nav-link color'%>
        <%= link_to "O nas", about_path, class: 'nav-link color' %>
        <%= link_to "Wyloguj", destroy_user_session_path, method: :delete, class: 'nav-link color'  %>
      <% else %>
        <%= link_to "Zarejestruj się", new_user_registration_path, class: 'nav-link color'  %>
        <%= link_to "Zaloguj", new_user_session_path, class: 'nav-link color'  %>
      <% end %>
          
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
    <!-- END OF MOBILE LAYOUT -->
<!-- =========================== -->
    <!-- DESKTOPS -->
    


    <!-- TABLETS -->
    <div class="d-none d-md-block d-lg-none">
      <nav class="navbar fixed-top scrolling-navbar navbar-default-mobile">
        <%= link_to index_path do %>
          <div class="navbar-brand color">
            <i class="material-icons">home</i>
          </div>
        <% end %>
        <ul class="navbar-nav">
          <li class="nav-item menu-icon">
            <div class="hamburger"></div>
          </li>
        </ul>
      </nav>
    </div>
    <div class="meniu d-none d-md-block d-lg-none">
      <% if user_signed_in? %>
        Zalogowany jako <strong><%= current_user.login %></strong><br>
        <%= link_to "Edycja profile", edit_user_registration_path, class: 'nav-link color' %>
        <% if current_user.is_admin %>
          <%= link_to "Ustawienia", installations_path, class: 'nav-link color' %>
        <% end %>
        <%= link_to "System ostrzegania", subscriptions_path, class: 'nav-link color'%>
        <%= link_to "O nas", about_path, class: 'nav-link color' %>
        <%= link_to "Wyloguj", destroy_user_session_path, method: :delete, class: 'nav-link color'  %>
      <% else %>
        <%= link_to "Zarejestruj się", new_user_registration_path, class: 'nav-link color'  %>
        <%= link_to "Zaloguj", new_user_session_path, class: 'nav-link color'  %>
      <% end %>
          
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
    <!-- END OFTABLETS LAYOUT -->



<!-- =========================== -->
    <!-- DESKTOPS --> 
    <div class="d-none d-lg-block">
      <nav class="navbar fixed-top navbar-expand-lg navbar-default scrolling-navbar">
        <%= link_to "SO AIR", index_path, class: 'navbar-brand color' %>
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= current_user.login %>
            </li>
            <li class="nav-item">
              <%= link_to "Edycja profile", edit_user_registration_path, class: 'nav-link color' %>
            </li>
            <% if current_user.is_admin %>
              <li class="nav-item">
                <%= link_to "Ustawienia", installations_path, class: 'nav-link color' %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to "System ostrzegania", subscriptions_path, class: 'nav-link color'%>
            </li>
            <li class="nav-item">
              <%= link_to "O nas", about_path, class: 'nav-link color' %>
            </li>
            <li class="nav-item">
              <%= link_to "Wyloguj", destroy_user_session_path, method: :delete, class: 'nav-link color'  %>
            </li>
          <% else %>
            <%= link_to "Zarejestruj się", new_user_registration_path, class: 'nav-link color'  %>
            <%= link_to "Zaloguj", new_user_session_path, class: 'nav-link color'  %>
          <% end %>
          
          <% if notice %>
            <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
        </ul>   
      </nav>
    </div>
    <!-- END OF DESKTOPS -->
    <%= yield %>
  </body>
  <script>
    const menus = document.querySelectorAll('.menu-icon');
    const men = document.querySelectorAll('.meniu');
    for(let i = 0; i<=menus.length-1;i++){
      menus[i].addEventListener('click', ()=>{
        menus[i].classList.toggle('active');
        men[i].classList.toggle('show');
      });
    }
    // document.querySelector('.md').addEventListener('click', ()=>{
    //  document.querySelector('.md').classList.toggle('active');
    //  document.querySelector('.meniu-md').classList.toggle('show');
    // });
  </script>
</html>