<!DOCTYPE html>
<html>
  <head>
    <title>Airmagedon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-default scrolling-navbar ">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to "Airmagedon", index_path, class: 'navbar-brand color' %>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "O nas", about_path, class: 'nav-link color' %>
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link color" href="#">Rejestracja</a> -->
          <%= link_to "Zarejestruj się", new_user_registration_path, class: 'nav-link color'  %> 
        </li>
        <li class="nav-item">
          <!-- <a class="nav-link color" href="#">Logowanie</a> -->
          <%= link_to "Zaloguj", new_user_session_path, class: 'nav-link color'  %>
        </li>
      </ul>
    </nav>
    <%= yield %>
    <footer>
      © Airmagedon - 2k18
    </footer>   
  </body>
</html>